main {
  .main-content {
    .patient-info {
      margin: 32px 0;
      padding: 20px 33px;
      box-shadow: 0px 3px 6px #2c28281c;

      .patient-name {
        h2 {
          font-size: 24px;
        }
      }
      .edit-patient {
        color: var(--primary-color);
        font-size: 14px;
      }
      svg {
        path {
          fill: var(--primary-color);
        }
      }
      .info-title {
        color: #8898aa;
      }
    }
    .patient-file {
      margin: 32px 0;
      padding: 20px 33px;
      box-shadow: 0px 3px 6px #2c28281c !important;
      h3 {
        font-size: 18px;
        color: #8a98aa;
      }
      .expand {
        color: var(--primary-color);
      }

      .btn {

        color: #8a98aa;
        border: 1px solid #8c98a8;
        border-radius: 5px;
        white-space: nowrap;
        transition: .3s ease;
        &:focus{
          box-shadow: none;
        }
        &.active {
          background-color: var(--secondary-color);
          color: white;
          border: none;
          svg {
            path {
              fill: #fff;
            }
          }
        }
        &:hover:not(.active){
          color: var(--primary-color);
          border-color: var(--primary-color);
          svg {
            path {
              fill: var(--primary-color);
            }
          }
        }
        svg {
          margin-right: 2px;
          path {
            transition: .3s ease;
            fill: #8a98aa;
          }
        }
      }
      textarea::placeholder {
        color: #8a98aa;
        font-size: 14px;
      }

      .diagnosis {
        .item {
          font-size: 14px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 10px;
          padding: 10px;
          color: #8c98a8;
          svg {
            margin-right: 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
          }
          .num {
            background: #00000029;
            display: inline-flex;
            width: 20px;
            height: 20px;
            font-size: 12px;
            align-items: center;
            justify-content: center;
            width: 20px;
          }
          &.colored {
            color: var(--primary-color);
            .num {
              background: var(--primary-color);
              color: white;
            }
            svg {
              path {
                fill: var(--primary-color);
              }
            }
          }
        }
        .add-diagnosis {
          background: #8c98a8;
          transition: 0.3s ease;
          color: white;
          &:hover {
            background: var(--primary-color);
          }
        }
      }
    }
  }
}

.new-patient {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -1500px;
  width: 100vw;
  z-index: 1000;
  transition: all 0.5s ease;
  &.show {
    right: 0;
  }
  .newpatient-content {
    overflow-y: auto;
    width: 400px;
    max-width: 90%;
    border-top: 5px solid var(--primary-color);
    height: 100vh;
    .close {
      top: 20px;
      right: 430px;
      font-size: 22px;
    }
    .title {
      font-size: 20px;
      color: var(--primary-color);
    }

    select {
      font-size: 14px;
      color: #000;
      &:focus {
        box-shadow: none;
      }
    }
    .drop-area {
      background: var(--bg-color) 0% 0% no-repeat padding-box;
      border: 1px dashed #8a98aa;
      border-radius: 5px;
      transition: 0.5s ease;
      &.active {
        opacity: 0.2;
        border-style: solid;
      }
      p {
        color: #8a98aa;
      }
    }
    .file-box {
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--bg-color);
      }
    }
    .options {
      & > div:nth-child(odd) {
        background: var(--bg-color);
      }
    }
  }
}
.btn-cancle {
  border: 1px solid #000000;
  border-radius: 5px;
}
.btn-save {
  background: var(--primary-color) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: white;
}
.record {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -1500px;
  width: 100vw;
  z-index: 1000;
  transition: all 0.5s ease;
  &.show {
    right: 0;
  }
  .newpatient-content {
    overflow-y: auto;
    width: 1070px;
    max-width: 90%;
    border-top: 5px solid var(--primary-color);
    height: 100vh;
    .close {
      top: 20px;
      right: 1100px;
      font-size: 22px;
    }
    .title {
      font-size: 20px;
      color: var(--primary-color);
    }

    select {
      font-size: 14px;
      color: #000;
      &:empty {
        color: #8a98aa;
      }
      &:focus {
        box-shadow: none;
        color: black;
      }
      option[selected] {
        color: #8a98aa;
      }
    }
    .drop-area {
      background: var(--bg-color) 0% 0% no-repeat padding-box;
      border: 1px dashed #8a98aa;
      border-radius: 5px;
      transition: 0.5s ease;
      &.active {
        opacity: 0.2;
        border-style: solid;
      }
      p {
        color: #8a98aa;
      }
    }
    .file-box {
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--bg-color);
      }
    }

    .btn-cancle {
      border: 1px solid #000000;
      border-radius: 5px;
    }
    .btn-save {
      background: var(--primary-color);
      border-radius: 5px;
      color: white;
    }

    .record-item {
      border: 1px solid #8a98aa;
      border-radius: 5px;
      &.active {
        background: var(--primary-color);
        border-color: var(--primary-color);
        color: white;
      }
    }
  }
}
label.error {
  font-size: 12px;
  color: #e54d5b;
}
input,
select,
textarea {
  &.error {
    &:focus {
      border-color: #e54d5b;
    }
    border-color: #e54d5b;
  }
}
.input-lable {
  font-size: 12px;
  background: white;
  padding: 5px 10px;
  top: -19px;
  left: 10px;
  color: #8a98aa;
}
.btn-view {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
@media (max-width: 767px) {
  .close {
    left: 4% !important ;
    right: auto !important;
  }
  .btn-cancle,
  .btn-save {
    width: 50% !important;
  }
}
.gray {
  background: var(--bg-color);
}
