main {
  &.visits-page {
    .menu {
      .navigation {
        li {
          &.active {
            background-color: #16bc843a;
            span {
              color: #16bc84 !important;
            }
          }
        }
      }
    }
    .main-content {
      .title {
        color: #16bc84 !important;
      }
      .setting {
        h3 {
          font-size: 18px;
          color: var(--primary-color);
        }
        p {
          color: var(--secondary-color);
          font-size: 16px;
        }
        label {
          font-size: 14px;
          margin-bottom: 10px;
        }
        .input-box {
          input {
            font-size: 14px;
          }
          svg {
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .time {
        width: 80px !important;
        height: 50px;
        color: #8898aa;
      }
      .bg-gray {
        background: var(--bg-color)80;
      }
      .calendar-type {
        a {
          width: 70px;
          border: 1px solid #8a98aa;
          text-align: center;
          color: #8a98aa;
          &.active {
            background: #8a98aa;
            color: white;
          }
          &.day {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: hidden;
          }
          &.week {
            border-left: none !important;
            border-right: none !important;
          }
          &.month {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
          }
        }
      }
      .month-calendar {
        .week-days {
          background: var(--bg-color);
          color: #a3a6b4;
          height: 45px;
          font-weight: bold;
          div {
            width: calc(100% / 7);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .days {
          .day {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 10px;
            color: #8c98a8;
            width: calc(100% / 7);
            height: 135px;
            border: 0.5px solid #eaf0f4;
            position: relative;
          }
          .event-content {
            top: 50%;
            left: 50%;
            transform: translate((-50%, -50%));
            div {
              &:not(:first-of-type) {
                white-space: nowrap;
              }
            }
            .event-imgs {
              width: 13px;
            }
            .slots {
              color: #16bc84 !important;
              &.empty {
                color: #e54d5b !important;
              }
            }
          }
          .prev-date,
          .next-date {
            color: #8c98a83d;
          }
        }
        table {
          .month-tr {
            height: 45px;
            width: 100%;
            td {
              height: 135px;
              width: 145px;
            }
          }
          td {
            text-align: center;
            border: 1px solid #eaf0f4;
          }
          thead {
            height: 45px !important;
            background: var(--bg-color);
            color: #8898aa;
            font-weight: bold;
            font-size: 11px;
            width: 100%;
          }
        }
      }
      .week-calendar {
        table {
          thead {
            height: 45px;
            color: #8898aa;
            font-weight: bold;
            font-size: 11px;
            width: 100%;
          }
          tr {
            height: 45px;
            width: 100%;
          }
          td {
            text-align: center;
            border: 1px solid #ddd;
            &:first-of-type {
              background: #fff;
              color: #8898aa;
              width: 80px !important;
            }
          }
        }
      }
      .waiting-item {
        box-shadow: 0px 3px 6px #0000001a;
        border-radius: 5px;
        background: white;
        max-width: 200px !important;
        &.week {
          width: 120px;
        }
        > div:first-of-type {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          overflow: hidden;
        }
        .popup {
          background: #ffffff;
          box-shadow: 0px 3px 6px #0000001a;
          border-radius: 5px;
          padding: 10px;
          top: 120%;
          right: 0;
          left: 0;
          z-index: 1000000000;
          .status {
            .Scheduled {
              > input {
                &:checked ~ label {
                  color: #818d9c;
                }
                accent-color: #818d9c;
              }
            }
            .Checked {
              > input {
                &:checked ~ label {
                  color: #20a1c5;
                }
                accent-color: #20a1c5;
              }
            }
            .Progress {
              > input {
                &:checked ~ label {
                  color: #d97d30;
                }
                accent-color: #d97d30;
              }
            }
            .Completed {
              > input {
                &:checked ~ label {
                  color: var(--secondary-color);
                }
                accent-color: var(--secondary-color);
              }
            }
            .Paid {
              > input {
                &:checked ~ label {
                  color: #52b888;
                }
                accent-color: #52b888;
              }
            }

            label {
              margin-bottom: 0;
              color: #8a98aa;
            }
          }
        }
        .bg-Scheduled {
          background: #8a98aa;
        }
        .bg-Checked {
          background: #56cbeb;
        }
        .bg-Progress {
          background: #f5913c;
        }
        .bg-Completed {
          background: var(--secondary-color);
        }
        .bg-Paid {
          background: #16bc84;
        }
      }
      .fa-chevron-left,
      .fa-chevron-right {
        color: #007bff;
        cursor: pointer;
      }
      .cancle-visit {
        color: #e54d5b;
      }
      .waiting-list {
        .waiting-item {
          border: 1px solid #56cbeb;
        }
      }
      .add-newbtn {
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 5px;
      }
    }.new-patient {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -110%;
  width: 100vw;
  z-index: 1000;
  transition: all 0.5s ease;
  &.show {
    right: 0;
  }
  .newpatient-content {
    overflow-y: auto;
    width: 424px;
    max-width: 90%;
    border-top: 5px solid var(--primary-color);
    height: 100vh;
    .close {
      left: auto;
      top: 20px;
      right: 450px;
      font-size: 22px;
    }
    .title {
      font-size: 20px;
      color: var(--primary-color);
    }
    .search-box {
      input {
        &[name="search"] {
          accent-color: #8a98aa;
          & + label {
            color: #8a98aa;
          }
          &:checked {
            accent-color: var(--secondary-color);
            & + label {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
    .patient-item {
      background: var(--bg-color)80;
      &.selected {
        border: 1px solid var(--primary-color);
        background: white;
      }
      select {
        &:focus {
          + .lable {
            color: var(--primary-color);
          }
        }
      }
      .lable {
        top: -10px;
        left: 20px;
        color: #8a98aa;
      }
    }
    .btn-cancle {
      border: 1px solid #000000;
      border-radius: 5px;
    }
    .btn-save {
      background: var(--primary-color) 0% 0% no-repeat padding-box;
      border-radius: 5px;
      color: white;
    }
  }
}
  }
}