.ck-editor__editable {
  height: 350px !important;
}

.new-patient {
  .newpatient-content  {
    .close {
      right: 630px ;
    }
  }
}
@media (max-width: 767px) {
     .close {
      left: 4% !important ;
      right: auto !important;
    }
  }
  