main .main-content .patient-info {
  margin: 32px 0;
  padding: 20px 33px;
  -webkit-box-shadow: 0px 3px 6px #2c28281c;
          box-shadow: 0px 3px 6px #2c28281c;
}

main .main-content .patient-info .patient-name h2 {
  font-size: 24px;
}

main .main-content .patient-info .edit-patient {
  color: #018e9f;
  font-size: 14px;
}

main .main-content .patient-info svg path {
  fill: #018e9f;
}

main .main-content .patient-info .info-title {
  color: #8898aa;
}

main .main-content .patient-file {
  margin: 32px 0;
  padding: 20px 33px;
  -webkit-box-shadow: 0px 3px 6px #2c28281c !important;
          box-shadow: 0px 3px 6px #2c28281c !important;
}

main .main-content .patient-file h3 {
  font-size: 18px;
  color: #8a98aa;
}

main .main-content .patient-file .expand {
  color: #018e9f;
}

main .main-content .patient-file .btn {
  color: #8a98aa;
  border: 1px solid #8c98a8;
  border-radius: 5px;
  white-space: nowrap;
}

main .main-content .patient-file .btn.active {
  background-color: #8e8769;
  color: white;
  border: none;
}

main .main-content .patient-file .btn.active svg path {
  fill: #fff;
}

main .main-content .patient-file .btn svg {
  margin-right: 2px;
}

main .main-content .patient-file .btn svg path {
  fill: #8a98aa;
}

main .main-content .patient-file textarea::-webkit-input-placeholder {
  color: #8a98aa;
  font-size: 14px;
}

main .main-content .patient-file textarea:-ms-input-placeholder {
  color: #8a98aa;
  font-size: 14px;
}

main .main-content .patient-file textarea::-ms-input-placeholder {
  color: #8a98aa;
  font-size: 14px;
}

main .main-content .patient-file textarea::placeholder {
  color: #8a98aa;
  font-size: 14px;
}

main .main-content .patient-file .diagnosis .item {
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  padding: 10px;
  color: #8c98a8;
}

main .main-content .patient-file .diagnosis .item svg {
  margin-right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}

main .main-content .patient-file .diagnosis .item .num {
  background: #00000029;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

main .main-content .patient-file .diagnosis .item.colored {
  color: #018e9f;
}

main .main-content .patient-file .diagnosis .item.colored .num {
  background: #018e9f;
  color: white;
}

main .main-content .patient-file .diagnosis .item.colored svg path {
  fill: #018e9f;
}

main .main-content .patient-file .diagnosis .add-diagnosis {
  background: #8c98a8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: white;
}

main .main-content .patient-file .diagnosis .add-diagnosis:hover {
  background: #018e9f;
}

.new-patient {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -1500px;
  width: 100vw;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.new-patient.show {
  right: 0;
}

.new-patient .newpatient-content {
  overflow-y: auto;
  width: 400px;
  max-width: 90%;
  border-top: 5px solid #018e9f;
  height: 100vh;
}

.new-patient .newpatient-content .close {
  top: 20px;
  right: 430px;
  font-size: 22px;
}

.new-patient .newpatient-content .title {
  font-size: 20px;
  color: #018e9f;
}

.new-patient .newpatient-content select {
  font-size: 14px;
  color: #000;
}

.new-patient .newpatient-content select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.new-patient .newpatient-content .drop-area {
  background: #f1f3f9 0% 0% no-repeat padding-box;
  border: 1px dashed #8a98aa;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.new-patient .newpatient-content .drop-area.active {
  opacity: 0.2;
  border-style: solid;
}

.new-patient .newpatient-content .drop-area p {
  color: #8a98aa;
}

.new-patient .newpatient-content .file-box:not(:last-of-type) {
  border-bottom: 1px solid #f1f3f9;
}

.new-patient .newpatient-content .options > div:nth-child(odd) {
  background: #f1f3f9;
}

.btn-cancle {
  border: 1px solid #000000;
  border-radius: 5px;
}

.btn-save {
  background: #018e9f 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: white;
}

.record {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -1500px;
  width: 100vw;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.record.show {
  right: 0;
}

.record .newpatient-content {
  overflow-y: auto;
  width: 80%;
  max-width: 90%;
  border-top: 5px solid #018e9f;
  height: 100vh;
}

.record .newpatient-content .close {
  top: 20px;
  right: 430px;
  font-size: 22px;
}

.record .newpatient-content .title {
  font-size: 20px;
  color: #018e9f;
}

.record .newpatient-content select {
  font-size: 14px;
  color: #000;
}

.record .newpatient-content select:empty {
  color: #8a98aa;
}

.record .newpatient-content select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}

.record .newpatient-content select option[selected] {
  color: #8a98aa;
}

.record .newpatient-content .drop-area {
  background: #f1f3f9 0% 0% no-repeat padding-box;
  border: 1px dashed #8a98aa;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.record .newpatient-content .drop-area.active {
  opacity: 0.2;
  border-style: solid;
}

.record .newpatient-content .drop-area p {
  color: #8a98aa;
}

.record .newpatient-content .file-box:not(:last-of-type) {
  border-bottom: 1px solid #f1f3f9;
}

.record .newpatient-content .btn-cancle {
  border: 1px solid #000000;
  border-radius: 5px;
}

.record .newpatient-content .btn-save {
  background: #018e9f;
  border-radius: 5px;
  color: white;
}

.record .newpatient-content .record-item {
  border: 1px solid #8a98aa;
  border-radius: 5px;
}

.record .newpatient-content .record-item.active {
  background: #018e9f;
  border-color: #018e9f;
  color: white;
}

label.error {
  font-size: 12px;
  color: #e54d5b;
}

input.error,
select.error,
textarea.error {
  border-color: #e54d5b;
}

input.error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #e54d5b;
}

.input-lable {
  font-size: 12px;
  background: white;
  padding: 5px 10px;
  top: -19px;
  left: 10px;
  color: #8a98aa;
}

.btn-view {
  border: 1px solid #018e9f;
  color: #018e9f;
}

@media (max-width: 767px) {
  .close {
    left: 4% !important;
    right: auto !important;
  }
  .btn-cancle,
  .btn-save {
    width: 50% !important;
  }
}

.gray {
  background: #f1f3f9;
}
/*# sourceMappingURL=patientdetails.css.map */