main {
  .menu {
    .navigation {
      li {
        &.active {
          background-color: #FDB6643a;
        span {
          color: #FDB664 !important;
        }}
        
      }
    }
  }
  .main-content {
    .title {
      color: #FDB664 !important;
    }
    .setting{
      h3{
        font-size: 18px;
        color: #018E9F;
      }
      p{
        color: #8E8769;
        font-size: 16px;
      }
      label{
        font-size: 14px;
        margin-bottom: 10px;
      }
      .input-box{
        input{
          font-size: 14px;
        }
        svg{
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
