main {
  .menu {
    .navigation {
      li {
        &.active {
          background-color: #16bc843a;
          span {
            color: #16bc84 !important;
          }
        }
      }
    }
  }
  .main-content {
    .title {
      color: #16bc84 !important;
    }
    .setting {
      h3 {
        font-size: 18px;
        color: #018e9f;
      }
      p {
        color: #8e8769;
        font-size: 16px;
      }
      label {
        font-size: 14px;
        margin-bottom: 10px;
      }
      .input-box {
        input {
          font-size: 14px;
        }
        svg {
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .waiting-item {
      box-shadow: 0px 3px 6px #0000001a;
      border: 0.5px solid #11cdef;
      border-radius: 5px;
      .bg-waiting {
        background: #11cdef;
      }
      .bg-success {
        background: #16BC84;
      }
    }
    .waiting-list {
      .add-newbtn {
        background: #018e9f;
      }
    }
    #calendar {
      .fc-toolbar-chunk {
        &:nth-of-type(2) {
          div {
            display: flex;
            align-items: center;
            .fc-toolbar-title {
              font-size: 18px;
              text-transform: capitalize;
              font-weight: bold;
              margin: 0 10px;
            }
          }
        }
        &:last-of-type {
          .cancle-visits {
            color: #e54d5b;
          }
        }
      }
      .fc-col-header-cell {
        background: #f1f3f9;
        padding: 10px;
        font-size: 14px;
        text-transform: capitalize;
      }

      .fc-timeGridDay-button,
      .fc-timeGridWeek-button,
      .fc-dayGridMonth-button {
        background: white !important;
        color: #8a98aa;
        border-color: #8a98aa;
        &.active {
          color: white;
          background: #8a98aa !important;
        }
      }
      .fc-prev-button,
      .fc-next-button {
        background: white;
        color: #0d6efd;
        border: none;
        &:focus {
          box-shadow: none;
        }
      }
      .fc-cancle-button {
        background: none;
        border: none;
      }
      .fc-col-header-cell {
        display: none;
      }
      .fc-timegrid-slot-lane {
        background: #f1f3f980;
      }
      .fc-timegrid-slot {
        height: 50px !important;
        border: 0.5px solid #8c98a841 !important;
        font-size: 14px;
      }
    }
  }
}
.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
  border: 0.5px solid #8c98a841 !important;
}
.fc .fc-timegrid-col.fc-day-today {
  background: #f1f3f980 !important;
}
.fc .fc-daygrid-day.fc-day-today {
  background: white !important;
}
.fc .fc-timegrid-slot-label {
  background: white;
}
.fc-v-event {
  border: none !important;
}
.fc-h-event {
  border: 0px !important;
  background: white !important;
}
.fc-event-main {
  color: black !important;
}
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  background: white;
  max-width: 175px;
}
.fc-dayGridMonth-view{
  .fc-daygrid-day-events{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .waiting-item{
    border: none !important;
    border-radius: 50%!important;
    display: inline;
   div {&:first-child,&:last-child,span{
      display: none !important;
    }}
  }
}