main .menu .navigation li.active {
  background-color: #16bc843a;
}

main .menu .navigation li.active span {
  color: #16bc84 !important;
}

main .main-content .title {
  color: #16bc84 !important;
}

main .main-content .setting h3 {
  font-size: 18px;
  color: #018e9f;
}

main .main-content .setting p {
  color: #8e8769;
  font-size: 16px;
}

main .main-content .setting label {
  font-size: 14px;
  margin-bottom: 10px;
}

main .main-content .setting .input-box input {
  font-size: 14px;
}

main .main-content .setting .input-box svg {
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .main-content .time {
  width: 80px !important;
  height: 50px;
  color: #8898aa;
}

main .main-content .bg-gray {
  background: #f1f3f980;
}

main .main-content .calendar-type a {
  width: 70px;
  border: 1px solid #8a98aa;
  text-align: center;
  color: #8a98aa;
}

main .main-content .calendar-type a.active {
  background: #8a98aa;
  color: white;
}

main .main-content .calendar-type a.day {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

main .main-content .calendar-type a.week {
  border-left: none !important;
  border-right: none !important;
}

main .main-content .calendar-type a.month {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

main .main-content table thead {
  height: 45px;
  color: #8898AA;
  font-weight: bold;
  font-size: 11px;
  width: 100%;
}

main .main-content table tr {
  height: 45px;
  width: 100%;
}

main .main-content table td {
  text-align: center;
  border: 1px solid #ddd;
}

main .main-content table td:first-of-type {
  background: #fff;
  color: #8898AA;
  width: 80px !important;
}

main .main-content .waiting-item {
  -webkit-box-shadow: 0px 3px 6px #0000001a;
          box-shadow: 0px 3px 6px #0000001a;
  border-radius: 5px;
  background: white;
  width: 200px;
}

main .main-content .waiting-item.week {
  width: 120px;
}

main .main-content .waiting-item > div:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

main .main-content .waiting-item .popup {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px #0000001a;
          box-shadow: 0px 3px 6px #0000001a;
  border-radius: 5px;
  padding: 10px;
  top: 120%;
  right: 0;
  left: 0;
  z-index: 1000000000;
}

main .main-content .waiting-item .popup .status .Scheduled > input {
  accent-color: #8a98aa;
}

main .main-content .waiting-item .popup .status .Scheduled > input:checked ~ label {
  color: #8a98aa;
}

main .main-content .waiting-item .popup .status .Checked > input {
  accent-color: #56cbeb;
}

main .main-content .waiting-item .popup .status .Checked > input:checked ~ label {
  color: #56cbeb;
}

main .main-content .waiting-item .popup .status .Progress > input {
  accent-color: #f5913c;
}

main .main-content .waiting-item .popup .status .Progress > input:checked ~ label {
  color: #f5913c;
}

main .main-content .waiting-item .popup .status .Completed > input {
  accent-color: #8e8769;
}

main .main-content .waiting-item .popup .status .Completed > input:checked ~ label {
  color: #8e8769;
}

main .main-content .waiting-item .popup .status .Paid > input {
  accent-color: #52b888;
}

main .main-content .waiting-item .popup .status .Paid > input:checked ~ label {
  color: #52b888;
}

main .main-content .waiting-item .popup .status label {
  margin-bottom: 0;
  color: #8a98aa;
}

main .main-content .waiting-item .bg-Scheduled {
  background: #8a98aa;
}

main .main-content .waiting-item .bg-Checked {
  background: #56cbeb;
}

main .main-content .waiting-item .bg-Progress {
  background: #f5913c;
}

main .main-content .waiting-item .bg-Completed {
  background: #8e8769;
}

main .main-content .waiting-item .bg-Paid {
  background: #16bc84;
}

main .main-content .waiting-list .waiting-item {
  border: 1px solid #56cbeb;
}

main .main-content .add-newbtn {
  background: #018e9f;
  border: 1px solid #018e9f;
  border-radius: 5px;
}

.new-patient {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -110%;
  width: 100vw;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.new-patient.show {
  right: 0;
}

.new-patient .newpatient-content {
  overflow-y: auto;
  width: 424px;
  max-width: 90%;
  border-top: 5px solid #018e9f;
  height: 100vh;
}

.new-patient .newpatient-content .close {
  top: 20px;
  right: 450px;
  font-size: 22px;
}

.new-patient .newpatient-content .title {
  font-size: 20px;
  color: #018e9f;
}

.new-patient .newpatient-content .search-box input[name="search"] {
  accent-color: #8a98aa;
}

.new-patient .newpatient-content .search-box input[name="search"] + label {
  color: #8a98aa;
}

.new-patient .newpatient-content .search-box input[name="search"]:checked {
  accent-color: #8e8769;
}

.new-patient .newpatient-content .search-box input[name="search"]:checked + label {
  color: #8e8769;
}

.new-patient .newpatient-content .patient-item {
  background: #f1f3f980;
}

.new-patient .newpatient-content .patient-item.selected {
  border: 1px solid #018e9f;
  background: white;
}

.new-patient .newpatient-content .patient-item select:focus + .lable {
  color: #018e9f;
}

.new-patient .newpatient-content .patient-item .lable {
  top: -10px;
  left: 20px;
  color: #8a98aa;
}

.new-patient .newpatient-content .btn-cancle {
  border: 1px solid #000000;
  border-radius: 5px;
}

.new-patient .newpatient-content .btn-save {
  background: #018e9f 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: white;
}
/*# sourceMappingURL=visits.css.map */